// NOTE: sticky footer
html,
body,
#__next,
.full-page-layout {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

#__next,
.full-page-layout {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.capitalize-first {
  display: inline-block; 
  text-transform: lowercase;
}

.capitalize-first::first-letter, .upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

div.capitalize-first {
  position: relative;
  top: 0.15em;
}

.sk-logo {
  position:relative;
  top: -8px;
}

.sk-header {
  position: absolute;
  left: 320px;
  height: 85px;
  padding: 24px 32px 20px;
}

.left-padded-10 {
  display: inline-block;
  padding-left: 10px;
}

.top-margin-50 {
  margin-top: 0.5em;
}

.bottom-margin-50 {
  margin-bottom: 0.5em;
}

.right-margin-50 {
  margin-right: 0.5em;
}

.bottom-margin-100 {
  margin-bottom: 1em;
}

.sk-header table tr td * {
  z-index: 1;
}

.sk-header table tr td:last-child div {
  position: absolute;
  top: 15px;
  right: 175px;
  height: 40px;
  z-index: 0;
}

.sk-btn-group-divider {
  visibility: hidden;
}

.shadow {
  position: relative;
  width: 346px;
  left: -50px;
}

.shadow div {
  position: absolute;
  top: 1px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 1rem;
  box-shadow: 
    0 0.6rem 0.8rem 0 rgba(13,13,14, 0.07) inset,
    0 0.1rem 0rem 0 rgba(13,13,14, 0.05) inset,
    0 0.027rem 0.082rem 0 rgba(13,13,14, 0.0583) inset;
}

.sk-menu-vertical-sidebar .sk-menu-vertical, .sk-menu-vertical-sidebar .sk-menu-vertical li ul {
  gap: var(--sk-spacing-0);
}

.sk-menu-vertical li ul div.menuitem-div, .sk-menu-vertical li ul p {
  font-size: var(--sk-fontSize-small);
}

.sk-menu-vertical-item-tool-item > * {
  padding: 0em;
  padding-left: 0.5em;
}

.container-right {
  display: flex;
  justify-content: flex-end;
}

.container-max-width {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}

.namespace {
  position: absolute;
  margin-left: 5.0em;
  align-items: baseline;
}

.sk-tooltip[data-position='below'] {
  padding-top: 5em;
}

.d-flex {
  display: flex;
}

.input-shortcode {
  width: 5em;
  text-align: center;
}

.d-flex > * {
  padding-right: 1em;
}

.main-content-menu-vertical {
  padding: 0.2em 0em 0.2em 1em;
}

.main-content-menu-vertical > span {
  margin: 0.5em 0.5em 0.5em 0em;
  vertical-align: middle;
}

.sk-menu-vertical-item > a[aria-current="page"] > * {
  text-decoration: none;
}

div.label-info {
  border-radius: var(--sk-radius-button-DEFAULT);
  border: 1px solid darkgrey;
  padding-left: 1em;
  color: darkgray;
}

div.main-menu {
  position: absolute;
  top: 0px;
  width: 100%;
}

div.main-area {
  position: absolute;
  top: 85px;
  max-width: 100vw;
  min-width: 100vw;
  padding: 2em;
  padding-top: 1.4em;
  padding-left: 22em;
  overflow: auto;
}

div.main-area > button {
  margin-top: 1em;
}

.dialog {
  padding: 0em;
  box-shadow: 0 0 10px 2px darkgrey;
  gap: 0em;
}

.dialog > .sk-dialog-content {
  gap: var(--sk-spacing-6);
  padding: 1em 1.5em 0em 1.5em;
}

.dialog > .sk-modal-footer {
  padding: 0em 1.5em 1em;
}

.dialog > .sk-modal-dialog-header {
  padding: 0.8em 1em;
  border-top-right-radius: var(--sk-radius-cards-DEFAULT);
  border-top-left-radius: var(--sk-radius-cards-DEFAULT);
  background-color: var(--sk-colors-vattjom-surface-primary-DEFAULT);
  color: white;
  font-size: large;
}

.sk-snackbar {
  box-shadow: 0 0 10px 2px darkgrey;
}

.sk-card[data-color="tertiary"] {
  background-color: var(--sk-colors-primitives-blue-100);
}

.sk-table-bottom {
  flex-flow: column;
}

.sk-table-bottom-section > div:first-child {
  position: absolute;
  left: 1em;
}

.sk-table-bottom-section > div:last-child {
  position: absolute;
  right: 1em;
}

.sk-table-bottom-section > div:first-child > label {
  margin-right: 1em;
}

.sk-menu-vertical-sidebar .sk-menu-vertical-header {
  border-top-right-radius: var(--sk-radius-cards-DEFAULT);
  border-top-left-radius: var(--sk-radius-cards-DEFAULT);
  background-color: var(--sk-colors-primitives-blue-100);
  border: 1px solid darkgrey;
  border-bottom: none;
  color: black;
  padding-bottom: 0.8em;
}

#sk-main-page-menu {
  border: 1px solid darkgrey;
  border-top: none;
  border-bottom-right-radius: var(--sk-radius-cards-DEFAULT);
  border-bottom-left-radius: var(--sk-radius-cards-DEFAULT);
}

.sk-menu-vertical-item-submenu {
  margin-bottom: 0em;
}

div.submenu-info {
  border-radius: var(--sk-radius-button-DEFAULT);
  border: 1px solid darkgrey;
  padding: 0.3em;
  padding-left: 1em;
  color: darkgray;
}

.sk-menu-vertical-item > div.menuitem-div {
  min-height: var(--sk-spacing-44);
  align-items: center;
  padding-top: 0.6em;
  padding-left: 0.3em;
}

button.edit-item {
  position: relative;
  left: 0.2em;
  bottom: 0.7em;
}

button.edit-subitem {
  position: relative;
  left: 0.5em;
  bottom: 0.3em;
}

input.email {
  width: 16em;
}

#category-displayname {
  height: 2.75em;
  width: 26.75em;
}

.chip-input, .chip-input:hover {
  padding: 1.4em  1em 1.4em 1em;
  border-color: var(--sk-colors-primitives-gray-300);
  background-color: var(--sk-colors-primitives-gray-50);
  color: var(--sk-colors-primitives-gray-400);
}

.chip-input-error, .chip-input-error:hover {
  padding: 1.3em  0.9em 1.3em 0.9em;
  border-color: var(--sk-colors-error-surface-primary-DEFAULT);
  border-width: 2px;
}

.disabled, .disabled:hover {
  color: var(--sk-colors-primitives-gray-300);
}

.fixed-height {
  height: 24em; 
  display: block;
  margin-bottom: 1em;
}

.fixed-height tr th {
  position: sticky; top: 0;
  background-color: white;
  z-index: 1;
}

.fill-available {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}

.card-header {
  padding: 1em 0.5em;
  border-top-right-radius: var(--sk-radius-cards-DEFAULT);
  border-top-left-radius: var(--sk-radius-cards-DEFAULT);
  background-color: var(--sk-colors-primitives-blue-100);
}

.text-content p {
  margin-top: 0em;
  margin-left: 0.2em;
  font-size: var(--sk-fontSize-small);
}

.small-text > span {
  padding: 0.8em;
  vertical-align: top;
}

.small-text > div {
  padding-left: 2em;
  padding-right: 2em;
  font-size: var(--sk-fontSize-small);
}

.left-padded-2 {
  padding-left: 0.2em;
}

.grid-2-col {
  display: grid;
  grid-template-columns: auto max-content;
  column-gap: 1em;
  font-size: var(--sk-fontSize-small);
}

.grid-2-col > div:nth-child(odd) {
  padding-left: 1em;
}

.grid-2-col > div:nth-child(even) {
  padding-right: 1em;
}

.grid-3-col {
  display: grid;
  grid-template-columns: auto auto max-content;
  column-gap: 1em;
  row-gap: 0.2em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: var(--sk-fontSize-small);
}

.grid-4-col {
  display: grid;
  grid-template-columns: auto auto auto max-content;
  row-gap: 0.2em;
  column-gap: 1em;
  padding: 1.5em 2em 1.5em 2em;
  font-size: var(--sk-fontSize-small);
}

.section {
  border: 1px solid var(--sk-colors-primitives-gray-300);
  border-radius: var(--sk-radius-button-DEFAULT);
  margin-bottom: 1em;
}

.sk-menubar {
  border: 1px solid var(--sk-colors-primitives-gray-300);
  border-bottom: none;
  border-radius: var(--sk-radius-button-DEFAULT);
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

.sk-tabs-panels {
  border: 1px solid var(--sk-colors-primitives-gray-300);
  border-top: none;
  border-radius: var(--sk-radius-button-DEFAULT);
  border-top-right-radius: 0em;
  border-top-left-radius: 0em;
  padding-bottom: 0em;
  margin-top: 0em;
  margin-bottom: 1em;
}

.tab-content {
  padding-top: 0.5em;
}
.created-span {
  font-size: var(--sk-fontSize-small);
}

.sk-max-width-40 {
  max-width: 40em;
}

.sk-form-switch-box {
  left: 0em;
}

.number-input {
  width: 4em;
  text-align: center;
}

.sk-form-input-addin-md {
  padding-right: unset;
  font-size: small;
}

.sk-inline-flex {
  display: inline-flex;
}

.label-up-navigation-icon {
  position: relative;
  top: 0.3em;
}
.hand-icon {
cursor: pointer;
}