// NOTE: sticky footer
html,
body,
#__next,
.full-page-layout {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

#__next,
.full-page-layout {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}
